{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
  <img src="{{object.author.profile.image.url}}" class="rounded-circle article-img">
  <div class="media-body">
    <div>
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      <div class="mb-2 mt-2">
        {% if object.author == user %}
        <a class="btn-sm btn-outline-secondary mt-1 mb-1" href="{% url 'post-update' object.id %}">Modify</a>
        <a class="btn-sm btn-outline-danger mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
  <div class="vote-buttons">
    {% if thisUserUpVote == 1 %}
    <button class="vote-up btn btn-sm btn-danger">
      <i class="bi bi-arrow-up"></i>
    </button>
    {% else %}
    <button class="vote-up btn btn-sm btn-secondary">
      <i class="bi bi-arrow-up"></i>
    </button>
    {% endif %}
    <div class='vote-tally' style="text-align: center;">
      {{postScore}}
    </div>
    {% if thisUserDownVote == 1 %}
    <button class="vote-down btn btn-sm btn-primary">
      <i class="bi bi-arrow-down"></i>
    </button>
    {% else %}
    <button class="vote-down btn btn-sm btn-secondary">
      <i class="bi bi-arrow-down"></i>
    </button>
    {% endif %}

  </div>
</article>
<article class="content-section">
  <h3>Comments</h3>
  <hr>
  <small>Comment as </small> {{user}}

  <div class="form-group">
    <textarea class="form-control" id="commentForm" rows="3"></textarea>
    <button class="my-2 btn btn-outline-info user-comment" type="submit">Comment</button>
  </div>

  <div class="list-group comment-section">
    {% if not object.comments.all %}
    <div class="no-comment-yet">
      No comments yet..<br>
      Be the first to comment
    </div>
    {% else %}
    {% load mptt_tags %}
    {% recursetree comments %}
    <div id="{{node.id}}" class="list-group-item list-group-item-light my-2">
      <a class="mr-2" href="{% url 'user-posts' node.author %}">{{ node.author }}</a>
      <small class="text-muted">{{ node.date_posted|date:"F d, Y" }}</small>
      <div class="article-content">{{ node.body }}</div>
      <div class="mt-1 hidden" id="commentForm{{node.id}}">
      </div>
      <button class="btn btn-outline-primary" id="replyButton{{node.id}}"
        onclick="toggleReplyBox({{node.id}})">Reply</button>
      <div class="list-group" id="children{{node.id}}">
        {% if not node.is_leaf_node %}
          {{children}}
        {% endif %}
      </div>
    </div>
    {% endrecursetree %}
    {% endif %}
  </div>


</article>
{% endblock content %}
{% block base_scripts %}
<script type="text/javascript">

  //Create Reply Form
  function toggleReplyBox(id) {
    let _html = '<small>Comment as </small> {{user}}\
        <div class="form-group">\
          <textarea class="form-control" id="commentTextBox'+ id.toString() + '" rows="3"></textarea>\
          <button class="mt-1 btn btn-outline-info user-comment" onclick = "commentReply('+ id.toString() + ')">Comment</button>\
        </div>';
    let _parent = document.getElementById("commentForm" + id.toString());
    let _button = document.getElementById("replyButton" + id.toString());
    if (_parent.classList.contains("hidden")) {
      _parent.innerHTML = _html;
      _parent.classList.remove("hidden");
      _button.innerHTML = "Hide";
    }
    else {
      _parent.innerHTML = '';
      _parent.classList.add("hidden");
      _button.innerHTML = "Reply";
    }
  }

  function commentReply(id) {
    console.log(id);
    let _comment = $('#commentTextBox' + id.toString()).val();
    $.post('/post/{{object.id}}/comment/', { comment: _comment, parent_id: id }, function (response) {
      let _html = '<div id = ' + response['id'] + ' class="list-group-item list-group-item-light my-2">\
      <a class="mr-2" href="{% url "user-posts" request.user %}">{{ request.user }}</a>\
      <small class="text-muted">' + response['date_posted'] + '</small>\
      <div class="article-content">'+ _comment + '</div>\
      <div class="mt-1 hidden" id = "commentForm'+ response['id'] + '">\
      </div>\
      <button class="btn btn-outline-primary" id = "replyButton'+ response['id'] + '" onclick="toggleReplyBox(' + response['id'] + ')" >Reply</button>\
      <div class="list-group" id="children'+ response['id'] +'">\
      </div>\
    </div>';

      let _parent = document.getElementById("commentForm" + id.toString());
      let _button = document.getElementById("replyButton" + id.toString());
      if (_parent.classList.contains("hidden")) {
        _parent.innerHTML = _html;
        _parent.classList.remove("hidden");
        _button.innerHTML = "Hide";
      }
      else {
        _parent.innerHTML = '';
        _parent.classList.add("hidden");
        _button.innerHTML = "Reply";
      }
      $('#children' + id.toString()).append(_html);
      console.log('#children' + id.toString());


    });

  }

  $(document).ready(function () {
    function isInt(value) {
      return !isNaN(value) &&
        parseInt(Number(value)) == value &&
        !isNaN(parseInt(value, 10));
    }
    //Up Vote button cases
    $('div.vote-buttons button.vote-up').click(function () {
      let vote_type = 'up';
      if ($(this).hasClass('btn-danger')) {
        let vote_action = 'recall-vote';
        $.post('/post/{{object.id}}/vote/', { type: vote_type, action: vote_action }, function (response) {
          if (isInt(response)) {
            $('button.vote-up').removeClass('btn-danger').addClass('btn-secondary');
            $('div.vote-tally').html(response);
          }
        });
      } else {

        let vote_action = 'vote';
        $.post('/post/{{object.id}}/vote/', { type: vote_type, action: vote_action }, function (response) {
          if (isInt(response)) {
            $('button.vote-up').removeClass('btn-secondary').addClass('btn-danger');
            $('button.vote-down').removeClass('btn-primary').addClass('btn-secondary');
            $('div.vote-tally').html(response);
          }
        });
      }
    });
    //Down Vote button cases
    $('div.vote-buttons button.vote-down').click(function () {
      let vote_type = 'down';
      if ($(this).hasClass('btn-primary')) {
        let vote_action = 'recall-vote';
        $.post('/post/{{object.id}}/vote/', { type: vote_type, action: vote_action }, function (response) {
          if (isInt(response)) {
            $('button.vote-down').removeClass('btn-primary').addClass('btn-secondary');
            $('div.vote-tally').html(response);
          }
        });
      }
      else {
        let vote_action = 'vote';
        $.post('/post/{{object.id}}/vote/', { type: vote_type, action: vote_action }, function (response) {
          if (isInt(response)) {
            $('button.vote-down').removeClass('btn-secondary').addClass('btn-primary');
            $('button.vote-up').removeClass('btn-danger').addClass('btn-secondary');
            $('div.vote-tally').html(response);
          }
        });
      }
    });

    $('.user-comment').click(function () {
      let _comment = $('#commentForm').val();
      $.post('/post/{{object.id}}/comment/', { comment: _comment }, function (response) {
        $('#commentForm').val('');
        let _html = '<div id = ' + response['id'] + ' class="list-group-item list-group-item-light my-2">\
      <a class="mr-2" href="{% url "user-posts" request.user %}">{{ request.user }}</a>\
      <small class="text-muted">' + response['date_posted'] + '</small>\
      <div class="article-content">'+ _comment + '</div>\
      <div class="mt-1 hidden" id = "commentForm'+ response['id'] + '">\
      </div>\
      <button class="btn btn-outline-primary" id = "replyButton'+ response['id'] + '" onclick="toggleReplyBox(' + response['id'] + ')" >Reply</button>\
      <div class="list-group" id="children'+ response['id'] +'">\
      </div>\
    </div>';
        $('.no-comment-yet').fadeOut();
        $('.comment-section').append(_html);
      });
    });

  });
</script>
{% endblock base_scripts %}